
<div class="main-content">
     <div class="section-content section-content-p30">
         <div class="container-fluid">

            <div *ngIf="cartItems.length >0">

            
             <table class="table table-bordered table-dark" >
                 <tr>
                     <td width="20%" style="color: blue;"  > <label style="font-weight: bold;"> Product Image </label> </td>
                     <td width="30%" style="color: blue;"> <label style="font-weight: bold;"> Product Detail </label> </td>
                     <td width="20%" style="color: blue;"> <label style="font-weight: bold;"> Quantity </label> </td>
                     <td width="30%"style="color: blue;" ></td>
                 </tr>

                 <tr *ngFor =" let tempCartItem of cartItems">
                     <td>
                         <img src=" {{tempCartItem.imageUrl}} " class="img-responsive" width="150px"/>
                     </td>
                     <td>
                         <p style="color: rgb(0, 0, 0);"> {{tempCartItem.name}} </p>
                         <p style="color: rgb(0, 0, 0);"> {{tempCartItem.unitPrice | currency:'USD'}} </p>
                     </td>
                     <td>
                         <div class="items">
                              <div class="row no-gutters">

                                  <div class="col">
                                     <button (click)="incrementQuantity(tempCartItem)" class="btn btn-primary btn-sm">
                                        <i class="fas fa-plus"></i>
                                     </button>
                                  </div>

                                  <div class="col ml-4 mr-2">
                                    <label style="color: rgb(0, 0, 0);"> {{tempCartItem.quantity}} </label>
                                  </div>

                                  <div class="col">
                                    <button (click)="decrementQuantity(tempCartItem)" class="btn btn-primary btn-sm">
                                       <i class="fas fa-minus"></i>
                                    </button>
                                  </div>
                                 
                                 <div class="col-8"></div>
                              </div>  
 
                         </div>   
                         <button (click)="remove(tempCartItem)" class="btn btn-primary btn-sm mt-2">Remove</button>   
                     </td>
                     <td>
                        <p class="mt-2" style="color: rgb(0, 0, 0);"> Subtotal : <label style="color: rgb(0, 0, 0);" >{{tempCartItem.quantity* tempCartItem.unitPrice | currency: 'USD'}} </label> </p>
                     </td>
                 </tr>
                 <tr>
                     <td colspan="3"></td>
                     <td style="font-weight: bold;">
                        <p style="color: rgb(0, 0, 0);">Total Quantity: <label style="color: rgb(0, 0, 0);"> {{totalQuantity}} </label>  </p>
                        <p style="color: rgb(0, 0, 0);">Shipping: <label style="color: green;"> FREE </label> </p>
                        <p style="color: rgb(0, 0, 0);">Total Price: <label style="color: rgb(0, 0, 0);"> {{totalPrice | currency: 'USD'}} </label>  </p>
                        <a routerLink="/checkout" class="btn btn-primary" style="color: rgb(248, 244, 244);">Checkout</a>
                    </td>
                 </tr>
             </table>
            </div>

            <!-- if cart is empty then display a message-->
            <div *ngIf="cartItems.length == 0" class="alert alert-warning col-md-12" role="alert">
                 Your shopping cart is empty.
            </div>
         </div>
     </div>
</div>