<div class="login-status-header">
    <div *ngIf="isAuthenticated && userFullName" class="login-status-user-info">
        Welcome back {{ userFullName}}!
    </div>
    <button *ngIf="!isAuthenticated" routerLink="/login" class="security-btn">Login</button>
    <button *ngIf="isAuthenticated" (click)="logout()" class="security-btn">Logout</button>
    <button *ngIf="isAuthenticated" routerLink="/members" class="security-btn ml-1">Member</button>

</div>