<table class="table">

     <thead>
         <tr>
              <th>Name</th>
              <th>Price</th>
              <th>Units in Stock</th>
         </tr>
     </thead>
     <tbody>
         <tr *ngFor="let temProduct of products">
             <td>{{ temProduct.name}}</td>
             <td>{{ temProduct.unitPrice | currency:'USD'}}</td>
             <td>{{temProduct.unitsInStock}}</td>

         </tr>
     </tbody>
</table>



