<div class="main-content">
    <div align="center" class="alert alert-warning col-md-12" role="alert">
        <h3> Members Special</h3>

        <p>Thank you for being a member</p>

        <p>Member discounts are coming soon!!</p>
    </div>
</div>
